 /* Estilo para o botão Voltar*/
 .botao.voltar {
    background-color: #095b92;
    padding: 10px 20px; /* define o tamanho do botão */
    border-radius: 50px; /* faz o botão ter bordas arredondadas */
    text-align: center; /* alinha o texto ao centro */
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none; /* remove a linha de link */
    transition: background-color 0.3s ease;
  }
  .botao.voltar:hover {
    background-color: #043d63;
  }

/* Estilo global site pessoal*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: rgb(204, 165, 241);
    color: #333;
  }
  
  header {
    background-color: #43157d;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .area {
    background: rgb(211, 193, 233);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .area h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #43157d;
  }
  
  .area p {
    line-height: 1.6;
  }
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #43157d;
    color: #fff;
    margin-top: 2rem;
  }

/*Estilo das fotos*/
.foto-perfil img {
    width: 100%; /* Define a largura da foto */
    height: 250%; /* Define a altura da foto */
    max-width: 800px; /* Garante que a foto não ultrapasse os limites do contêiner */
    border-radius: 50%; /* Faz com que a foto fique redonda */
    border-radius: 10px;/* Opcional: Adiciona uma borda ao redor da foto */
    margin: 50px auto; /* Espaçamento ao redor da foto */
}


/*Estilo do carrossel*/
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .carousel-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    min-width: 100%;
    object-fit: cover;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .arrow:focus {
    outline: none;
  }