/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(281, 43%, 73%);
    color: #333;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Cabeçalho */
  header {
    background-color: #43157d;
    color: #fff;
    padding: 1rem 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header h1 {
    font-size: 1.5rem;
  }
  
  header h1 span {
    font-weight: 300;
    color: #ccc;
  }
  
  header ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header ul li {
    margin: 0;
  }
  
  header ul li a {
    color: #fff;
    font-size: 1rem;
  }
  
  /*Foto*/
  .foto-perfil img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%;
    margin-bottom: 1rem;
}

  /* Seção de introdução */
  .introducao {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #dacae4;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .introducao .foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .introducao h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .introducao p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
  }
  
  .botoes {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .botao {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .botao.amarelo {
    background-color: #09c752;
  }
  
  .botao.amarelo:hover {
    background-color: #088f3c;
  }
  
  .botao.vermelho {
    background-color: #e74c3c;
  }
  
  .botao.vermelho:hover {
    background-color: #c0392b;
  }
  
  .botao.azul {
    background-color: #095b92;
  }
  
  .botao.azul:hover {
    background-color: #043d63;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 3rem 0;
    background-color: #43157d;
    color: #fff;
    margin-top: 2rem;
  }