.ciências  {
    background-color: #d5ffcd; /* Cor para a disciplina ciências humanas */
}
 
.linguagens {
    background-color: #8ec77d; /* Cor para a disciplina linguagens */
}
 
.ciência {
    background-color: #77c577; /* Cor para a disciplina ciências da natureza */
}
 
.matemática {
    background-color: #6bc86b; /* Cor para a disciplina ciências da natureza */

}
 
.Iot {
    background-color: #6add73; /* Cor para a disciplina iot */
}
 